<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
    <system.web>
      <webServices>
        <protocols>
          <add name="HttpSoap"/>
          <add name="HttpPost"/>
          <add name="HttpGet"/>
          <add name="Documentation"/>
        </protocols>
      </webServices>
      <sessionState mode="InProc" timeout="30"/>
      <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"/>
    </system.web>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=39.105.196.3;Initial Catalog=AutouSend;User ID=lhc;Password=123456"
  providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
